
<nav class="navbar">
  <div class="navbar-logo">Agricultura</div>
  <ul class="navbar-menu">
    <li><a routerLink="/">Inicio</a></li>
    <li><a routerLink="/cultivos">Cultivos</a></li>
    <li><a routerLink="/herramientas">Herramientas</a></li>
    <li><a routerLink="/consejos">Consejos</a></li>
    <li><a routerLink="/departamentos">Departamentos</a></li>

    <li *ngIf="!isAuthenticated"><a routerLink="/login">Iniciar Sesión</a></li>

    <li *ngIf="isAuthenticated" class="user-info" (click)="toggleDropdown()">
      <div class="user-box">
        <img [src]="userImage" alt="Perfil" class="user-image" />
        <div class="user-details">
          <span class="user-name">{{ userName }}</span>
          <span class="user-role">{{ userRole }}</span>
        </div>
        <ul class="user-dropdown" [ngClass]="{'show': isDropdownOpen}">
          <li><a (click)="redirectToConfiguracion()">Configuración</a></li>
          <li><a (click)="logout()">Cerrar Sesión</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>


